ul.artItems {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    li {
        display: inline-block;
        margin: 20px 30px;
        vertical-align: middle;
        div {
                table tr td {
                height: 1px;
                width: 1px;
                padding: 1px !important;
            }
            &:hover {
                filter: invert(100%);
                transition: filter 500ms ease;
            }
        }
    }
}