section.artItems {
    margin: 20px auto 0;
    max-width: 500px;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 20px;
            vertical-align: middle;
            div {
                table tr td {
                    height: 1px;
                    width: 1px;
                    padding: 1px !important;
                }
                &:hover {
                    filter: invert(100%);
                    transition: filter 500ms ease;
                }
            }
        }
    }
}