ul {
    padding: 0;
    li {
        display: inline-block;
        margin: 20px;
        div table tr td {
            height: 1px;
            width: 1px;
            padding: 1px !important;
        }
    }
}