.namePix {
    margin: 34px 0 60px 0;
    div {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        table {
            border-spacing: .5px;
            border-collapse: separate;
            font-size: 0;
            tr td {
                height: 6px;
                width: 6px;
                -webkit-transition: background-color 175ms ease-out; -ms-transition: background-color 175ms ease-out; -moz-transition: background-color 175ms ease-out; transition: background-color 175ms ease-out;
            }
        }
    }
}
/* MOBILE STYLES */
@media screen and (max-width: 825px) {
    .namePix div table tr td {
        height: 1.35px;
        width: 1.35px;
    }
}