/* PROJECT COMPONENT STYLES */

/* PROJECT DESCRIPTION TEXT */
article.projectDesc {
    background-color: #1f1f1f;
    box-shadow: rgba(0, 0, 0, 1) 0px 2px 3px;
    display: inline-block;
    height: 300px;
    margin: 20px;
    max-width: 300px;
    padding: 20px;
    vertical-align: top;
    span.comingSoon {
        background: linear-gradient(225deg, rgba(0, 0, 0, 0), 10%, rgb(0, 0, 0) 10%), linear-gradient(215deg, rgb(252, 181, 20), 5%, rgb(0, 0, 0) 10%);
        box-shadow: 0px 0px 10px rgba(252, 181, 20, .2);
        color: rgba(252, 181, 20, 1);
        display: block;
        font-weight: 400;
        padding: 0;
        transform: rotate(-4deg) translate(-30px, -10px);
        width: 360px;
    }
    h2 {
        transition: color 175ms ease-out;
        &:hover {
            color: rgba(136, 8, 8, 1);
            cursor: pointer;
        }
    }
    p {
        color: #848d97;
        text-align: left;
    }
}