/* PROJECT COMPONENT STYLES */

/* PROJECT DESCRIPTION TEXT */
.projectDesc {
    background-color: #1f1f1f;
    display: inline-block;
    height: 300px;
    margin: 20px;
    max-width: 300px;
    padding: 20px;
    vertical-align: top;
    p {
        color: #848d97;
        text-align: left;
    }
}