/* PROJECT COMPONENT STYLES */

/* PROJECT DESCRIPTION TEXT */
article.projectDesc {
    background-color: #1f1f1f;
    display: inline-block;
    height: 300px;
    margin: 20px;
    max-width: 300px;
    padding: 20px;
    vertical-align: top;
    h2 {
        margin: 0;
    }
    h2.comingSoon {
        color: rgba(252, 181, 20, 1);
    }
    p {
        color: #848d97;
        text-align: left;
    }
    &:hover {
        cursor: pointer;
    }
}