/* PROJECT COMPONENT STYLES */

/* PROJECT DESCRIPTION TEXT */
.projectDesc {
    background-color: #1f1f1f;
    display: inline-block;
    height: 300px;
    margin: 20px;
    max-width: 300px;
    padding: 20px;
    vertical-align: top;
}
.projectDesc p span {
    font-weight: 600;
}
.projectDesc p {
    color: #848d97;
}
.projectDesc .pixelLibraryIcon {
    vertical-align: middle;
    width: 22px;
}
