section.modalVideo {
    background-color: #1f1f1f;
    font-family: 'Roboto Mono', monospace;
    left: 3%;
    padding: 80px 0;
    position: fixed;
    text-align: center;
    top: 10%;
    width: 92%;
    z-index: 1;
    a {
        color: #FFFFFF;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        margin: 20px;
        position: absolute;
        right: 0;
        top: 0;
        transition: color 175ms ease-out;
        &:hover {
            color: rgba(136, 8, 8, 1);
            cursor: pointer;
        }
    }
    video:focus {
        outline: none;
    }
}
@media screen and (max-width: 819px) {
    section.modalVideo video {
        height: 100%;
        width: 100%;
    }
}