#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* TITLE TEXT */
.titleText h1 {
    margin: 34px 0 60px 0;
}
/* INTRO TEXT */
.introText h2 {
    margin: 60px 0 20px 0;
}
/* PROJECT DESCRIPTION TEXT */
.projectDesc {
    max-width: 600px;
    margin: 0 auto;
}
.projectDesc p span {
    font-weight: 600;
}
.projectDesc p {
    color: #848d97;
}

/* PIXEL PANEL */
.pixelPanel {
    cursor: pointer;
    display: inline-block;
    height: 320px;
    transition: filter 1000ms ease;
    -webkit-transform: rotateZ(360deg); /* Fixes 'floating' pixel art issue seen in Safari */
    user-select: none;
    -webkit-user-select: none;
    width: 320px;
}
.pixelPanel:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    transition: filter 1000ms ease;
}

/* PIXEL ART */
.sunGlasses, .oldMan, .magicalSword, .flameArt {
    opacity: 0;
    position: absolute;
    transition: opacity 500ms ease;
}
/* SUNGLASSES */
.sunGlasses {
    left: 79px;
    top: 40px;
    transition: opacity 750ms ease, transform 500ms ease;
    transform: translate(0, -250px);
}
/* OLD MAN */
.pixelPanel:hover .oldMan {
    opacity: 1;
    transition: opacity 1500ms ease;
}
/* MAGICAL SWORD */
.magicalSword {
    left: -61px;
    top: 63px;
    transform: translate(-200px, -250px);
    transition: opacity 1000ms ease, transform 500ms ease;
}
@keyframes swordGlow {
    0% { filter: drop-shadow(0 0 1em #ffffff); }
    25% { filter: drop-shadow(0 0 .75em #ffffff); }
    50% { filter: drop-shadow(0 0 .5em #ffffff); }
    75% { filter: drop-shadow(0 0 .25em #ffffff); }
    100% { filter: drop-shadow(0 0 .1em #ffffff); }
}
/* FLAME */
.flameArt {
    filter: drop-shadow(0 0 3em #fcb514);
    left: 270px;
    top: 118px;
    transition: opacity 250ms ease;
}
@keyframes flameGlow {
    0% { opacity: 1; }
    15% { opacity: .85; }
    25% { opacity: .75; }
    35% { opacity: .65; }
    50% { opacity: 1; }
    75% { opacity: .7; }
    100% { opacity: .75; }
}
@keyframes flameFlicker {
    50% { opacity: 1; transform: scale(-.8, .8); }
    100% { opacity: 1; transform: scale(.8, .8); }
}
@media (prefers-reduced-motion: no-preference) {
    .flameArt {
        animation: flameFlicker 200ms linear infinite;
        animation-timing-function: steps(1, start);
    }
    .flameArt table {
        animation: flameGlow 1500ms ease-in-out infinite alternate;
    }
    .magicalSword {
        animation: swordGlow 1500ms linear infinite alternate;
    }
}

/* MOBILE STYLES */
@media screen and (max-width: 450px) {
    .titleText h1 {
        font-size: 40px;
    }
}

/* .namePix {
    height: 30px;
    width: 200px;
    margin: 0 auto 80px;
} */