#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* TITLE TEXT */
.titleText h1 {
    margin: 34px 0 60px 0;
    transition: color 300ms ease;
}
/* INTRO TEXT */
.introText h2 {
    margin: 60px 0 20px 0;
}
/* PROJECT DESCRIPTION TEXT */
.projectDesc {
    max-width: 600px;
    margin: 0 auto;
}
.projectDesc p span {
    font-weight: 600;
}

/* PIXEL PANEL */
.pixelPanel {
    display: inline-block;
    transition: filter 300ms ease;
}
.sunGlasses {
    left: 79px;
    opacity: 0;
    position: absolute;
    top: 40px;
}
.pixelPanel:hover .sunGlasses {
    opacity: 1;
    transition: opacity 1500ms ease;
}
@keyframes pixelPanel-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
    .pixelPanel:hover .sunGlasses {
        animation: pixelPanel-spin 1000ms ease;
    }
}

/* MOBILE STYLES */
@media screen and (max-width: 450px) {
    .titleText h1 {
        font-size: 40px;
    }
}