#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* TITLE TEXT */
.titleText h1 {
    margin: 34px 0 60px 0;
}

/* PIXEL PANEL */
.pixelPanel {
    display: inline-block;
    will-change: filter;
    transition: filter 300ms;
}
.pixelPanel:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.sunGlasses {
    left: 79px;
    opacity: 0;
    position: absolute;
    top: 40px;
}
.pixelPanel:hover .sunGlasses {
    opacity: 1;
    transition: opacity 1500ms ease;
}
.pixelPanel:hover .oldMan table td {
    padding: 10px !important;
}

/* PIXEL: OLD MAN */
.oldMan {
    opacity: 0;
    transition: opacity 500ms ease;
}
.oldMan table td {
    transition: padding 1500ms ease;
}
.pixelPanel:hover .oldMan {
    opacity: 1;
    transition: opacity 1500ms ease;
}

@keyframes pixelPanel-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .pixelPanel:hover .sunGlasses {
        animation: pixelPanel-spin 1000ms ease;
    }
}

/* MOBILE STYLES */
@media screen and (max-width: 450px) {
    .titleText h1 {
        font-size: 40px;
    }
}