#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.pixelGS {
    display: inline-block;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.pixelGS:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

ul li {
    text-align: left;
}

@keyframes pixelGS-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .pixelGS:hover {
        animation: pixelGS-spin infinite 5s linear;
    }
}