/* APP CSS STYLES */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
/* TITLE TEXT */
.titleText h1 {
    margin: 34px 0 60px 0;
}
/* INTRO TEXT */
.introText h2 {
    margin: 60px 0 20px 0;
}
/* PROJECT DESCRIPTION TEXT */
.projectDesc {
    max-width: 600px;
    margin: 0 auto;
}
.projectDesc p span {
    font-weight: 600;
}
.projectDesc p {
    color: #848d97;
}
.projectDesc .pixelLibraryIcon {
    vertical-align: middle;
    width: 22px;
}
/* MOBILE STYLES */
@media screen and (max-width: 450px) {
    .titleText h1 {
        font-size: 40px;
    }
}