/* APP CSS STYLES */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    /* INTRO TEXT */
    .introText h2 {
        margin: 60px 0 20px 0;
    }
    hr {
        background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(136, 8, 8, 1), 75%, rgba(0, 0, 0, 1) 100%);
        border: none;
        border-radius: 50%;
        height: 4px;
    }
}
*::selection {
    background-color: rgba(136, 8, 8, 1);
    color: #FFFFFF;
}