#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* TITLE TEXT */
.titleText h1 {
    margin: 34px 0 60px 0;
}
/* INTRO TEXT */
.introText h2 {
    margin: 60px 0 20px 0;
}
/* PROJECT DESCRIPTION TEXT */
.projectDesc {
    max-width: 600px;
    margin: 0 auto;
}
.projectDesc p span {
    font-weight: 600;
}

/* PIXEL PANEL */
.pixelPanel {
    cursor: pointer;
    display: inline-block;
    height: 320px;
    transition: filter 1000ms ease;
    -webkit-transform: rotateZ(360deg); /* Fixes 'floating' pixel art issue seen in Safari */
    user-select: none;
    -webkit-user-select: none;
    width: 320px;
}
.pixelPanel:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    transition: filter 1000ms ease;
}

/* PIXEL ART */
.sunGlasses, .oldMan, .magicalSword, .flameArt {
    opacity: 0;
    position: absolute;
    transition: opacity 500ms ease;
}
/* SUNGLASSES */
.sunGlasses {
    left: 79px;
    top: 40px;
    transition: opacity 350ms ease;
}
@keyframes pixelPanel-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@media (prefers-reduced-motion: no-preference) {
    .sunGlasses:hover {
        animation: pixelPanel-spin 750ms ease;
    }
}
/* OLD MAN */
.oldMan table td {
    transition: padding 1500ms ease;
}
.pixelPanel:hover .oldMan {
    opacity: 1;
    transition: opacity 1500ms ease;
}
/* MAGICAL SWORD */
.magicalSword {
    filter: drop-shadow(0 0 2em #ff0000);
    left: -61px;
    top: 63px;
    transition: opacity 250ms ease;
}
/* FLAME */
.flameArt {
    filter: drop-shadow(0 0 2.5em #fcb514);
    left: 270px;
    top: 118px;
    transition: opacity 250ms ease;
}
@keyframes flameAnim {
    0% { opacity: 1; }
    15% { opacity: .85; }
    25% { opacity: .75; }
    35% { opacity: .65; }
    50% { opacity: 1; }
    75% { opacity: .7; }
    100% { opacity: .75; }
}
@media (prefers-reduced-motion: no-preference) {
    .flameArt {
        animation: flameAnim 1500ms ease-in-out infinite alternate;
    }
}

/* MOBILE STYLES */
@media screen and (max-width: 450px) {
    .titleText h1 {
        font-size: 40px;
    }
}