/* APP CSS STYLES */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
/* INTRO TEXT */
.introText h2 {
    margin: 60px 0 20px 0;
}
*::selection {
    background-color: #E40909;
    color: #FFFFFF;
}