/* Google Font: Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* GLOBAL CSS STYLES */
:root {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    color-scheme: light dark;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-synthesis: none;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #0d1117;
    color: #e6edf3;
    display: flex;
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    transition: color 175ms ease-out;
    &:hover {
        color: rgba(136, 8, 8, 1);
        cursor: pointer;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: rgba(136, 8, 8, 1);
    }
}